.technology {
  margin: 20px 0;
}
.progress-circle {
  text-align: center;
}
.back-links {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 20px;
}
.QR {
  text-align: center;
  margin: 30px 0;
}
